<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(view)">
<head>
<meta charset="UTF-8">
<title>Tổ chức layout</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
	/* CSS tùy chỉnh */
	body {
	background-color: #f8f9fa;
	color: #333;
	}
	header {
	text-align: center;
	margin-bottom: 20px;
	}
	nav a {
	color: #007bff;
	font-weight: bold;
	}
	footer {
	background-color: #343a40;
	color: white;
	padding: 10px;
	text-align: center;
	}
	</style>
</head>
<body>
	<hr>
	<nav th:insert="~{/layout/_menu.html :: navbar}"></nav>
	<hr>
	<main th:replace="${view}"></main>
	<!-- Footer -->
	<footer class="mt-5">
		<p>FPT Polytechnic &copy; 2024. All rights reserved.</p>
	</footer>

	<!-- Bootstrap JavaScript -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>