<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	div{
		color: blue;
	}
</style>
</head>
<body>
	<h3>Result</h3>
	<div th:text="${message}"></div>
	<ul th:object="${sv}">
		<li>Email: <i th:text="*{email}"></i></li>
		<li>Full name: <i th:text="*{fullname}"></i></li>
		<li>Average Mark: <i th:text="*{marks}"></i></li>
		<li>Gender: <i th:text="*{gender} ? 'Male' : 'Female'"></i></li>
		<li>Country: <i th:text="*{country}"></i></li>
	</ul>
</body>
</html>